<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="img/SOURCE" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{Title}}</h5>
        <p class="card-text">Descripcion</p>
    </div>
    <div class="card-body">
        <a href="#" class="btn btn-outline-dark" role="button">Ver Detalles</a>
    </div>
</div>